<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="demo">
        
        <span>message is : </span>
        <p style="white-space: pre-line;">{{message}} </p>
        <textarea cols="30" rows="10" v-model="message" placeholder="add message"></textarea>


        <br>
        <br>
        <br>
        <input id="input"  type="checkbox" v-model="checked">
        <label for="#input">{{checked}} </label>
    </div>
    
</body>
<script src="https://unpkg.com/vue@next"></script>
<script>
    const Model = {
        data() {
            return {
                message: "hello world",
                checked: false
            }
        },
        
    }
    Vue.createApp(Model).mount("#demo")
</script>
</html>